body {
  background-color: white;
  box-sizing: border-box;
}

div {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 25%; */
  margin: 0;
  padding: 0;
  max-height: 40px;
}

.female {
  background-color: rgb(241, 117, 241);
}

.male {
  background-color: rgb(113, 177, 214);
}

.kid {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline;
}

.anotherButton {
  display: none;
}

#here {
  margin: 0;
  padding: 0;
}
